/* Social media buttons */

.footer {
    overflow: hidden;
    background-color: transparent;
    position: sticky; /* Set the navbar to fixed position */
    bottom: 0;
    top: 85vh; /* Position the navbar at the bottom of the page */
    width: 100vw; /* Full width */
    border-top: 1px solid transparent;
    z-index: 0;
    background: #070f02;
  }

.footer .icon-list {
    margin-left: 75vw;
    width: 25vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    background: transparent;
    z-index: 2;
  }
  
  .icon-item {
    list-style: none
  }
  
  .icon-link {  
    display: inline-flex;
    font-size: 3rem;  
    text-decoration: none;  
    color: white;
    width: 6rem;
    height: 6rem;   
    transition: .5s linear;
    position: relative;
    z-index: 2;
    margin: auto
  }
  
  .icon-link:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .icon-link i {
    margin: auto;    
  }
  
  .icon-link::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 6rem;
    height: 6rem;
    background: #fff;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
  }
    
  .icon-link:hover::before {  
    transform: scale(1);
  }
  
  .icon-item:nth-child(1) a:hover:before { 
    background: var(--social-icon1); 
  }
  
  .icon-item:nth-child(2) a:hover:before { 
    background: var(--social-icon2); 
  }
  
  .icon-item:nth-child(3) a:hover:before { 
    background: var(--social-icon3); 
  }


@media only screen and (max-width: 990px), (max-height: 600px) {

  .footer .icon-list {
    margin-left: 70vw;
  }
  .icon-link { 
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
  }
  .icon-link::before {
    width: 4rem;
    height: 4rem;
  }

}

@media only screen and (max-width: 1220px) {

  .footer .icon-list {
    margin-left: 70vw;
  }
}