@import "loader.css";
@import "header.css";
@import "footer.css";
@import "horizontal_panels.css";
@import "reveal.css";
@import "timeline.css";

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css";

:root {
  --bg: transparent;  
  --image-frame: #0a2342;   
  --color-icon: #fff;

  --oxford-blue: #0a2342;
  --mint-cream: #F4FFF8;
  --light-salmon: #FAAA8D;


  --social-icon1: #e4405f;
  --social-icon2: #3b5999;
  --social-icon3: #0077B5;
  --social-icon4: #cd201f;
  --social-icon5: #0077B5;  
}

html, body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
} 

.main {
  width:100vw;
}

#ABOUT {
  display: grid;
  padding-left: -10vw;
  place-items: center start;
  overflow: hidden; 
  height: 95vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  background-color: #111111;
  background: url("../assets/elec_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: sticky;
  bottom: 0;
  z-index: 3;
  border-bottom: solid var(--social-icon1) 2px;
  
}

#PROJECTS {
  width: 100vw;
  display: flex;
  background-color: #0F0702;
  position: sticky;
  bottom: 0;
  z-index: 2;
  border-bottom: solid var(--social-icon1) 2px;
}

#PROJECTS:hover .tl-item {
  width: 23.3333%;
}

#FORMATION {
  width: 100vw;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color:#111111;
  border-bottom: solid var(--social-icon1) 2px;
}

.arrow{
  position: absolute;
  top: 85vh;
  left: 50vw;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--social-icon1);
  border-right: 5px solid var(--social-icon4);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
  z-index: 3;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

 /* Main content */

  #ABOUT .column {
    margin-left: 15vw;
    /* width: 25%; */
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    background: transparent;
    z-index: 2;
  }

#ABOUT .bg_main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    filter: opacity(0.7);
    background: black;
  }
  .main_content {
      /* margin-top: 20vh; */
      margin-left: 5vw;
      position: relative;
      z-index: 1;
  }
  .main_content h1 {
/* Add a top margin to avoid content overlay */
    color: white;
    font-size: 4em;
    font-family: 'Barlow', sans-serif;
    font-weight: lighter;
  }
  .main_content h2 {
      margin-top: 5vh;
      color: white;
      font-size: 1.5em;
      font-family: 'Barlow', sans-serif;
      font-weight: 5;
  }
  .main_content .projects_btn {
    margin-top: 5%;
    height: 5vh;
    width: 15vh;
    border-radius: 50px;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--social-icon1) 0%, var(--social-icon4) 100%);
    border: 1px solid transparent;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    box-shadow: 
      3px 3px 3px black;

    transition: all .2s ease-in-out;
}

.main_content .projects_btn:hover {
  transform: scale(1.1);
  background: #f2f2f2;
  color: var(--oxford-blue);
}


img.framed {
  max-width: 25vh;
  z-index:1;
  justify-content: center;
  box-shadow:
    -50px -50px 0 -40px var(--social-icon1),
    50px 50px 0 -40px var(--social-icon4);
  transition: all .2s ease-in-out;
}

img.framed:hover {
  transform: scale(1.1);
  box-shadow: 
    -55px -55px 0 -45px transparent,
    55px 55px 0 -45px transparent;
}


@media  only screen and (max-height: 735px) {
  .main_content .projects_btn {
    width: 18vw;
    height: 7vh;
  }
}