

:root {
  --bg: transparent;  
  --image-frame: #0a2342;   
  --color-icon: #fff;

  --oxford-blue: #0a2342;
  --mint-cream: #F4FFF8;
  --light-salmon: #FAAA8D;


  --social-icon1: #e4405f;
  --social-icon2: #3b5999;
  --social-icon3: #0077B5;
  --social-icon4: #cd201f;
  --social-icon5: #0077B5;  
}

html, body {
  height: 100vh;
  width: 100vw;
} 

section {
  display: block;
}

 /* Main content */

  .main {
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden; 
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    /* background: url("../assets/background.jpg") no-repeat center center fixed; */
    background-color: var(--mint-cream);
    background-size: cover;
  }

  .main .column {
    /* margin-left: 75%;
    width: 25%; */
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    background: transparent;
    z-index: 2;
  }

  .main .bg_main {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: opacity(0.5);
    background-color: var(--light-salmon);
  }
  .main_content {
      /* margin-top: 20vh; */
      margin-left: 5vw;
      position: relative;
      z-index: 1;
  }
  .main_content h1 {
/* Add a top margin to avoid content overlay */
    color: var(--oxford-blue);
    font-size: 4em;
    font-family: 'Barlow', sans-serif;
    font-weight: lighter;
  }
  .main_content h2 {
      margin-top: 5vh;
      color: var(--oxford-blue);
      font-size: 1.5em;
      font-family: 'Barlow', sans-serif;
      font-weight: 5;
  }
  .main_content .projects_btn {
    margin-top: 5%;
    height: 5vh;
    width: 15vh;
    border-radius: 50px;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--oxford-blue);
    border: 1px solid transparent;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    box-shadow: 
      3px 3px 3px grey;

    transition: all .2s ease-in-out;
}

.main_content .projects_btn:hover {
  transform: scale(1.1);
  background-color: #f2f2f2;
  color: var(--oxford-blue);
}


img.framed {
  max-width: 25vh;
  z-index:1;
  justify-content: center;
  box-shadow:
    -50px -50px 0 -40px var(--oxford-blue),
    50px 50px 0 -40px var(--oxford-blue);
  transition: all .2s ease-in-out;
}

img.framed:hover {
  transform: scale(1.1);
  box-shadow: 
    -55px -55px 0 -45px var(--oxford-blue),
    55px 55px 0 -45px var(--oxford-blue);;
}


@media  only screen and (max-height: 735px) {
  .main_content .projects_btn {
    width: 18vw;
    height: 7vh;
  }
}